<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>ImageSearch</title>
	<link type="text/css" rel="stylesheet" href="resources/css/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
</h:head>

<h:body>
	<h3>Search for an image</h3>
	<br/>
	<h:form>
		<p:panelGrid columns="2" >
			<p:outputLabel value="Search term:" for="searchExpresion" />
			<p:inputText id="searchExpresion" value="#{imageBean.searchExpresion}" required="true" />
        	
			<p>
				<h:commandButton id="submit" value="Submit" action="#{imageBean.search()}">
					<f:ajax execute="searchExpresion" render="results" />
				</h:commandButton>
			</p>
		</p:panelGrid>
		
		<h:panelGroup id="results">
			<div class="row">
			
	   			<ui:repeat var="image" value="#{imageBean.imagesPath}">
				
		  			<div class="col-xs-6 col-md-3">
		    			<a href="images/#{image}" class="thumbnail" target="blank">
							<img src="images/#{image}" alt="You should see an image"/>
		    			</a>
		  			</div>
		  			
		  		</ui:repeat>
			</div>
		
		</h:panelGroup>
		
		
	</h:form>
	
	
</h:body>

</html>